{extend name="public:base" /}
{block name="title"}欢迎页面-X-admin2.2{/block}
{block name="body"}
<style>
    .layui-form-select{
        width:20%;
    }
</style>
    <body>
        <div class="layui-fluid">
            <div class="layui-row">
                <form class="layui-form">
                    <div class="layui-form-item">
                        <label for="L_email" class="layui-form-label">
                            <span class="x-red">*</span>科目名称</label>
                        <div class="layui-input-inline">
                            <input type="text"  name="subject_name" required="" lay-verify="required" autocomplete="off" class="layui-input"></div>
                    </div>
                    <div class="layui-form-item">
                        <label for="desc" class="layui-form-label">专业名称</label>
                        <div class="layui-input-block">
                    <select name="major_id" lay-verify="required">
                        <option value="">请选择一个专业</option>
                        {volist name="major" id="vo"}
                        <option value="{$vo.id}">{$vo.major_name}</option>
                        {/volist}
                    </select>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <label for="L_repass" class="layui-form-label"></label>
                        <button class="layui-btn" lay-filter="add" lay-submit="">增加</button></div>
                </form>
            </div>
        </div>
        <script>
            layui.use(['form', 'layer','jquery'],
            function() {
                $ = layui.jquery;
                var form = layui.form;
                layer = layui.layer;

                //监听提交
                form.on('submit(add)', function(data) {
                    $.post("{:url('Subject/add')}",{data:data.field},function (data) {
                        if(data.status == 1){
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 6}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }else{
                            //发异步，把数据提交给php
                            layer.alert(data.msg, {icon: 5}, function() {
                                //关闭当前frame
                                xadmin.close();

                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                            });
                        }
                    });
                    return false;
                });
            });
        </script>
        <script>var _hmt = _hmt || []; (function() {
                var hm = document.createElement("script");
                hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
                var s = document.getElementsByTagName("script")[0];
                s.parentNode.insertBefore(hm, s);
            })();</script>
    </body>
{/block}