{extend name="public:base" /}
{block name="title"}欢迎页面-X-admin2.2{/block}
{block name="body"}
  <body>
    <div class="layui-fluid">
        <div class="layui-row">
            <form action="" method="post" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <label for="name" class="layui-form-label">
                        <span class="x-red">*</span>角色名
                    </label>
                    <div class="layui-input-inline">
                        <input type="text" id="name" name="role_name" required="" value="{$data.role_name}" lay-verify="required"
                               autocomplete="off" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label class="layui-form-label">
                        拥有权限
                    </label>
                    <table  class="layui-table layui-input-block">
                        <tbody>
                        <tr>
                            <td>
                                {volist name="rule" id="vo"}
                                {eq name="vo.parent_id" value="0"}
                                <input type="checkbox" name="rule[]" class="{$vo.controller_name}" {in name="vo.id" value="$data.rule_id"}checked=""{/in} lay-skin="primary" value="{$vo.id}" lay-filter="father" title="{$vo.rule_name}">
                                {/eq}
                                {/volist}
                            </td>
                            <td>
                                <div class="layui-input-block">
                                    {volist name="rule" id="vo"}
                                    {neq name="vo.parent_id" value="0"}
                                    <input name="rule[]" class="{$vo.controller_name}" lay-skin="primary" {in name="vo.id" value="$data.rule_id"}checked=""{/in} type="checkbox" value="{$vo.id}" title="{$vo.rule_name}">
                                    {/neq}
                                    {/volist}
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="layui-form-item layui-form-text">
                    <label for="desc" class="layui-form-label">
                        描述
                    </label>
                    <div class="layui-input-block">
                        <textarea placeholder="请输入内容" id="desc" name="content" class="layui-textarea">{$data.content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn" lay-submit="" lay-filter="add">增加</button>
                </div>
                <input type="hidden" name="id" value="{$data.id}">
            </form>
        </div>
    </div>
    <script>
        layui.use(['form','layer'], function(){
            $ = layui.jquery;
          var form = layui.form
          ,layer = layui.layer;

            //form提交数组函数
            filterData = function (data) {
                var roleListIds = {};
                var temp = {};
                for (var key in data) {
                    if (key.indexOf("[") === -1) {
                        roleListIds[key] = data[key];
                    } else {
                        temp[key] = data[key];
                    }
                }

                var temp_arr = [];
                for (var key in temp) {
                    var _arr = key.split("[");
                    var field = _arr[0];
                    if (temp_arr.indexOf(field) === -1) {
                        temp_arr.push(field);
                    }
                }

                for (var i in temp_arr) {
                    var _f = temp_arr[i];
                    var _temp = [];
                    for (var k in temp) {
                        console.log(k);
                        if (k.indexOf(_f) !== -1) {
                            _temp.push(temp[k])
                        }
                    }
                    roleListIds[_f] = _temp;
                }
                return roleListIds;
            };

            //监听提交
            form.on('submit(add)', function(data) {
                $.post("{:url('Role/edit')}",{data:filterData(data.field)},function (data) {
                    if(data.status == 1){
                        //发异步，把数据提交给php
                        layer.alert(data.msg, {icon: 6}, function() {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    }else{
                        //发异步，把数据提交给php
                        layer.alert(data.msg, {icon: 5}, function() {
                            //关闭当前frame
                            xadmin.close();

                            // 可以对父窗口进行刷新
                            xadmin.father_reload();
                        });
                    }
                });
                return false;
            });

        form.on('checkbox(father)', function(data){
            //获取 input框的 class值
            var className = data.elem.className;
            //字符串拆分成数组
            var arr2 = className.split(",");
            //循环 数组
            $.each(arr2,function (key,val) {
            if(data.elem.checked){
                $(data.elem).parent().siblings('td').find("."+val).prop("checked", true);
                form.render();
            }else{
               $(data.elem).parent().siblings('td').find("."+val).prop("checked", false);
                form.render();
            }
            });
        });
          
          
        });
    </script>
    <script>var _hmt = _hmt || []; (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?b393d153aeb26b46e9431fabaf0f6190";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
      })();</script>
  </body>
{/block}