{extend name="public:base" /}
{block name="title"}欢迎页面-X-admin2.2{/block}
{block name="body"}
    <body>
        <div class="x-nav">
          <span class="layui-breadcrumb">
            <a href="">首页</a>
            <a href="">演示</a>
            <a>
              <cite>导航元素</cite></a>
          </span>
          <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
            <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i></a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" value="{$Think.get.start}" placeholder="开始日" name="start" id="start">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input class="layui-input"  autocomplete="off" placeholder="截止日" value="{$Think.get.end}" name="end" id="end">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="username" value="{$Think.get.username}" placeholder="请输入学生姓名" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <input type="text" name="class_name" value="{$Think.get.class_name}" placeholder="请输入班级" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="major_id" lay-filter="major" id="major_id">
                                        <option value="">请选择一个专业</option>
                                        {volist name="major" id="vo"}
                                        <option value="{$vo.id}" {eq name="$Think.get.major_id" value="$vo.id"}selected{/eq}>{$vo.major_name}</option>
                                        {/volist}
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <select name="subject_id" id="subject_id">
                                        <option value="">请选择一个科目</option>
                                    </select>
                                </div>
                                <div class="layui-inline layui-show-xs-block">
                                    <button class="layui-btn"  lay-submit="" lay-filter="sreach"><i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()"><i class="layui-icon"></i>批量删除</button>
                        </div>
                        <div class="layui-card-body layui-table-body layui-table-main" >
                            <table class="layui-table layui-form" lay-size="sm">
                                <thead>
                                  <tr>
                                    <th>
                                      <input type="checkbox" lay-filter="checkall" name="" lay-skin="primary">
                                    </th>
                                    <th>ID</th>
                                    <th>姓名</th>
                                    <th>班级</th>
                                    <th>专业</th>
                                    <th>科目</th>
                                    <th>单选题</th>
                                    <th>多选题</th>
                                    <th>判断题</th>
                                    <th>操作题</th>
                                    <th>总分</th>
                                    <th>状态</th>
                                    <th>考试时间</th>
                                    <th>操作</th>
                                  </tr>
                                </thead>
                                <tbody>
                                {volist name="data" id="vo"}
                                  <tr>
                                    <td>
                                      <input type="checkbox" name="id" value="{$vo.id}"   lay-skin="primary">
                                    </td>
                                    <td>{$vo.id}</td>
                                    <td>{$vo.username}</td>
                                    <td>{$vo.class_name}</td>
                                    <td>{$vo.major_name}</td>
                                    <td>{$vo.subject_name}</td>
                                    <td>{$vo.single_scroe}分</td>
                                    <td>{$vo.selection_scroe}分</td>
                                    <td>{$vo.judge_scroe}分</td>
                                    <td>{$vo.operation_scroe}分</td>
                                    <td>{$vo.scroe}分</td>
                                      <td>{if condition="$vo.not_read eq 1"}<span style="color:green">已阅卷审核</span>{elseif condition="$vo.not_read eq 2"}<span style="color: orange">待审核</span>{else/}<span style="color:deeppink">未阅卷</span>{/if}</td>
                                    <td>{$vo.add_time}</td>
                                    <td class="td-manage">
                                      <a title="审核" onclick="xadmin.open('审核','{:url('Scroe/officeRead')}?id={$vo.id}',800,600)" href="javascript:;" style="color: orange;">审核
                                      </a>
                                      <a title="删除" onclick="member_del(this,'{$vo.id}')" href="javascript:;">
                                        <i class="layui-icon">&#xe640;</i>
                                      </a>
                                    </td>
                                  </tr>
                                {/volist}
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                            <div class="page">
                                <div>
                                    {$data->render()}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </body>
    <script>
      layui.use(['laydate','form'], function(){
        var laydate = layui.laydate;
        var  form = layui.form;


        // 监听全选
        form.on('checkbox(checkall)', function(data){

          if(data.elem.checked){
            $('tbody input').prop('checked',true);
          }else{
            $('tbody input').prop('checked',false);
          }
          form.render('checkbox');
        }); 
        
        //执行一个laydate实例
        laydate.render({
          elem: '#start' //指定元素
        });

        //执行一个laydate实例
        laydate.render({
          elem: '#end' //指定元素
        });

          //选择专业二级联动
          form.on('select(major)',function (data) {
              var major_id = $('#major_id').val();   //获取专业表id
              $.post("{:url('Scroe/major')}",{major_id:major_id},function (data) {
                  $("#subject_id").empty();    //清空#subject_id里的元素
                  $.each(data,function (key,val) {
                      $("#subject_id").append("<option value="+val.id+">"+val.subject_name+"</option>");
                  })
                  form.render('select');  //渲染
              });
          })

      });

      // function read(obj,id) {
      //     $.ajax("{:url('Scroe/scroe')}",{id:id},function (data) {
      //         if(data.status == 0){
                  //已经阅卷
                  // layer.msg(data.msg,{icon:2,time:1000});
              // }
          // })
      // }
      
      /*用户-删除*/
      function member_del(obj,id){
          layer.confirm('确认要删除吗？',function(index){
              //发异步删除数据
              $.post("{:url('Scroe/officeDel')}",{id:id},function (data) {
                  if(data.status == 1){
                      //删除成功 删除元素
                      $(obj).parents("tr").remove();
                      layer.msg(data.msg,{icon:1,time:1000});
                  }else{
                      //删除失败
                      layer.msg(data.msg,{icon:2,time:1000});
                  }
              });
          });
      }



      function delAll (argument) {
        var ids = [];

        // 获取选中的id 
        $('tbody input').each(function(index, el) {
            if($(this).prop('checked')){
               ids.push($(this).val())
            }
        });
        //批量删除
          layer.confirm('确认要删除吗？'+ids.toString(),function(index){
              //ajax请求 id数组
            $.post("{:url('Scroe/officedel')}",{id:ids},function (data) {
                if(data.status == 1){
                    //捉到所有被选中的，发异步进行删除
                    layer.msg(data.msg, {icon: 1});
                    $(".layui-form-checked").not('.header').parents('tr').remove();
                }else{
                    layer.msg(data.msg, {icon: 2});
                }
            });
        })
      }
    </script>
{/block}